/* Text Elements */

h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h1.welcome-title {
  font-size: 1.6rem;
  line-height: 1.4;
}

h1.gray {
  color: #333;
  font-weight: 700;
}

h1.gray.welcome-title {
  font-weight: 400;
}

h2 {
  margin-bottom: 2.187rem;
  color: #fc8a1a;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .06rem;
  font-weight: 600;
  font-size: 1.06rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h3 {
  color: #fc6300;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h4 {
  margin-top: .437rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.4;
}

h4.form-heading {
  color: #0b0b0b;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

h4.welcome-subtitle {
  color: #fff;
}

h4.gray {
  color: #333;
}

p.paragraph {
  color: #808080;
  font-weight: 300;
  font-size: .81rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
}

p.paragraph.form-row-paragraph {
  margin-bottom: 1.875rem;
  text-align: center;
  font-size: .93rem;
  line-height: 1.2rem;
}

p.paragraph.gallery-p {
  display: none;
  margin-bottom: .625rem;
}

p.paragraph.paragraph-1 {
  display: none;
}

span.text-element.form-input-caption {
  margin-top: .437rem;
  margin-bottom: .437rem;
  color: #858585;
  font-family: 'Roboto', sans-serif;
}

a.link-text.nav-link {
  display: block;
  margin-top: .312rem;
  margin-bottom: .47rem;
  padding-bottom: .312rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

a.link-text.footer-nav-link {
  display: block;
  margin-top: .625rem;
  margin-bottom: .625rem;
  color: #f08537;
  font-size: .87rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2rem;
}

a.link-text.current {
  color: #f08537;
}

a.link-text.nav-link:hover {
  border-bottom: .0625rem solid #fff;
}

/* Interaction Elements */

a.link-button.btn.form {
  display: block;
  margin: 0 auto .437rem;
  padding: 1.312rem .937rem;
  max-width: 50rem;
  width: 100%;
  background-color: #fc8a1a;
  color: #fff;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 0;
}

a.link-button.btn.ignition {
  display: block;
  margin: .437rem auto;
  padding: 1.375rem 1.25rem 1.25rem;
  max-width: 50rem;
  width: 100%;
  background-color: #fc6300;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

a.link-button.download-section {
  margin: .625rem auto 0;
  padding: 1.375rem .3rem 1.25rem;
  min-height: 3.125rem;
  max-width: 50rem;
  width: 100%;
  background-color: #ff9e00;
  color: #fff;
  white-space: normal;
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

input[type=text].form-input {
  padding: 1.125rem .937rem;
  width: 100%;
}

/* Layout Elements */

body {
  height: 100%;
}

.container-grid.column-type {
  padding-right: 10px;
  padding-left: 10px;
  min-height: 50px;
}

.container-grid.nav-container {
  max-width: 75rem;
}

a.responsive-picture.logo {
  margin-top: .437rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 5.562rem;
}

.container-grid.nav-row {
  width: 100%;
  background-color: #4c4c4c;
}

.container-grid.wecome-row {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: #333;
}

.container-grid.orange {
  background-color: #f08537;
}

.container-grid.text-row {
  margin-top: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 1200px;
  width: 100%;
}

div.responsive-picture.planet-image {
  max-width: none;
}

.container-grid.form-row {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  background-color: #e6e6e6;
}

.container-grid.footer-row {
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
  width: 100%;
  background-color: #333;
}

.container-grid.footer-subgrid {
  margin-right: auto;
  margin-left: auto;
  max-width: 75rem;
}

.container-grid.light-gray {
  background-color: #e5e5e5;
}

.container-grid.rocket {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/rocket-orange.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: repeat;
}

.container-grid.subscribe {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  background-color: #e6e6e6;
}

div.responsive-picture.gallery-image {
  margin-top: .437rem;
  margin-bottom: 1.25rem;
  max-width: none;
}

.container-grid.welcome-column {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

@media screen and (min-width: 36rem) {
  /* Text Elements */

  h1.welcome-title {
    font-size: 3.12rem;
  }

  p.paragraph.gallery-p {
    display: block;
    padding-top: 20px;
  }

  p.paragraph.paragraph-1 {
    display: block;
  }

  p.paragraph {
    font-size: 1.25rem;
    line-height: 1.53rem;
  }

  /* Interaction Elements */

  a.link-button.btn.form {
    margin-bottom: 0;
    padding: 30px 14px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 48rem) {
  /* Text Elements */

  h1 span.heading-text-1 {
    font-size: 2.9375rem;
  }

  h2.p-heading {
    font-size: 1.5rem;
  }

  h4.form-heading {
    font-size: 1.75rem;
  }

  p.paragraph {
    font-weight: 300;
    font-size: .93rem;
    line-height: 1.7rem;
  }

  p.paragraph.form-row-paragraph {
    font-size: 1.06rem;
  }

  p.paragraph.paragraph-2 {
    text-align: center;
  }

  p.paragraph.paragraph-3 {
    text-align: center;
  }

  a.link-text.nav-link {
    float: right;
    margin: 13px 0 0 2%;
    padding-bottom: .625rem;
    text-align: right;
  }

  a.link-text.current {
    color: #f08537;
  }

  /* Interaction Elements */

  a.link-button.btn.form {
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 14px;
    font-size: 1.25rem;
  }

  a.link-button.download-section {
    font-size: 1.25rem;
  }

  a.responsive-picture.logo {
    float: left;
    margin-top: 0;
    width: auto;
  }

  .container-grid.wecome-row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container-grid.subscribe {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .container-grid.footer-row {
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
  }

  .container-grid.form-row {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .container-grid.text-row {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .container-grid.rocket {
    padding-top: 18.75rem;
    padding-bottom: 18.75rem;
  }

  .container-grid.light-gray.wecome-row {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container-grid.orange.wecome-row {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 62rem) {
  /* Text Elements */

  h2 span.heading-text-2 {
    font-size: .875rem;
  }

  h2 span.heading-text-3 {
    font-size: .875rem;
  }

  h2 span.heading-text-4 {
    font-size: .875rem;
  }

  h2 span.heading-text-5 {
    font-size: .875rem;
  }

  h2 span.heading-text-6 {
    font-size: .875rem;
  }

  h2 span.heading-text-9 {
    color: #000;
  }

  h4.form-heading {
    font-size: 2.12rem;
  }

  h4 span.heading-text-8 {
    font-size: 1.125rem;
  }

  h4 font.heading-text-7 {
    color: #000;
  }

  p.paragraph {
    font-size: .93rem;
    line-height: 2rem;
  }

  p.paragraph.form-row-paragraph {
    font-size: 1.25rem;
  }

  p.paragraph span.paragraph-text-1 {
    color: #a5a5a5;
    font-size: .875rem;
    line-height: 1.5;
  }

  p.paragraph span.paragraph-text-2 {
    color: #a5a5a5;
    font-size: .875rem;
    line-height: 1.5;
  }

  p.paragraph.paragraph-4 {
    text-align: justify;
  }

  p.paragraph.paragraph-5 {
    text-align: justify;
  }

  p.paragraph.paragraph-6 {
    text-align: justify;
  }

  p.paragraph.paragraph-7 {
    text-align: justify;
  }

  p.paragraph span.paragraph-text-3 {
    font-size: .875rem;
  }

  p.paragraph span.paragraph-text-4 {
    font-size: 1rem;
  }

  p.paragraph span.paragraph-text-5 {
    font-size: 1rem;
  }

  p.paragraph.paragraph-8 {
    text-align: justify;
  }

  p.paragraph.paragraph-9 {
    text-align: justify;
  }

  p.paragraph.paragraph-10 {
    text-align: justify;
  }

  p.paragraph.paragraph-11 {
    text-align: justify;
  }

  p.paragraph.paragraph-12 {
    text-align: justify;
  }

  p.paragraph.paragraph-13 {
    text-align: justify;
  }

  p.paragraph.paragraph-14 {
    text-align: justify;
  }

  p.paragraph.paragraph-15 {
    text-align: justify;
  }

  p.paragraph.paragraph-16 {
    text-align: justify;
  }

  p.paragraph span.paragraph-text-6 {
    font-size: 1.0625rem;
    line-height: 1.27;
  }

  p.paragraph.paragraph-17 {
    text-align: justify;
  }

  p.paragraph.paragraph-18 {
    text-align: justify;
  }

  p.paragraph.paragraph-19 {
    text-align: justify;
  }

  p.paragraph.paragraph-2 {
    text-align: justify;
    line-height: 1.82rem;
  }

  p.paragraph.paragraph-3 {
    text-align: justify;
    font-size: .9375rem;
    line-height: 1.88rem;
  }

  p.paragraph span.paragraph-text-7 {
    color: #a5a5a5;
    font-size: 1rem;
  }

  a.link-text.footer-nav-link {
    position: static;
    min-width: 470px;
    min-height: 40px;
    text-align: center;
    font-size: .73rem;
    line-height: 1.34rem;
  }

  /* Interaction Elements */

  a.link-button#button-link-1 {
    font-size: 1.5rem;
  }

  a.link-button.btn.form {
    font-size: 1.25rem;
  }

  a.link-button.download-section {
    font-size: 1.5rem;
  }

  .container-grid.wecome-row {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .container-grid.subscribe {
    padding-top: 5.312rem;
    padding-bottom: 5.312rem;
  }

  .container-grid.light-gray {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container-grid.form-row {
    padding-top: 5.312rem;
    padding-bottom: 5.312rem;
  }

  .container-grid.text-row {
    padding-top: 5.312rem;
    padding-bottom: 5.312rem;
  }

  .container-grid.rocket {
    padding-top: 25rem;
    padding-bottom: 25rem;
  }

  .container-grid.orange.wecome-row {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .container-grid.form-row.justify-content-center {
    padding-top: 5.31rem;
    width: 100%;
  }

  div.responsive-picture.planet-image {
    width: 100%;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  .container-grid.container-1 {
    min-width: 900px;
  }

  .container-grid.justify-content-center.rocket {
    position: static;
    top: auto;
    right: auto;
    display: grid;
    visibility: visible;
    -ms-flex-pack: end;
    float: none;
    clear: none;
    -ms-flex-align: start;
    overflow: auto;
    padding: 20rem 0 0;
    min-width: 188px;
    background-color: #000;
    background-image: url('../images/25281-double-helix-wallpaper.jpg');
    background-attachment: local;
    background-size: 100% auto;
    background-repeat: no-repeat;
    vertical-align: middle;
    opacity: 1;
    -webkit-transform: rotateX(0deg) perspective(0px) skewX(0deg) skewY(0deg) translateX(0px) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
       -moz-transform: rotateX(0deg) perspective(0px) skewX(0deg) skewY(0deg) translateX(0px) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
            transform: rotateX(0deg) perspective(0px) skewX(0deg) skewY(0deg) translateX(0px) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-column-span: none;
       -moz-column-span: none;
            column-span: none;
    -webkit-column-fill: auto;
       -moz-column-fill: auto;
            column-fill: auto;
    -webkit-column-rule-width: 8px;
       -moz-column-rule-width: 8px;
            column-rule-width: 8px;
    -webkit-column-rule-color: #000;
       -moz-column-rule-color: #000;
            column-rule-color: #000;

    background-blend-mode: normal;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
            justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
  }

  .container-grid.container-2 {
    min-width: 900px;
  }

  .container-grid.column-type {
    width: 700%;
  }
}

@media screen and (min-width: 75rem) {
  /* Text Elements */

  a.link-text.nav-link {
    margin: .8125rem 0 0 2%;
    padding-bottom: .625rem;
  }

  /* Interaction Elements */

  a.link-button.btn.form {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
  }

  .container-grid.column-type {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .container-grid.footer-row {
    max-width: none;
  }

  .container-grid.footer-subgrid {
    margin-right: auto;
    margin-left: auto;
  }

  .container-grid.rocket {
    padding-top: 25rem;
  }

  .container-grid.light-gray.wecome-row {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}